<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/main.css">
    <meta charset="utf-8">
    <title>Listening Party</title>
</head>
<body>
    {{#if user}}
        <div class="user-info">
            Logged in as {{user.username}}
            <a href="/logout">Log out</a>
        </div>
    {{/if}}

    {{#if message}}
        {{message}}
    {{/if}}
    {{{body}}}
</body>
</html>