$font-stack: Helvetica, Arial, sans-serif;

@import 'form';
@import 'signup';
@import 'login';
@import 'dashboard';

body {
    font: 100% $font-stack;
}

.user-info {
    position: absolute;
    right: 2%
}