Welcome! Please log in

<div class="login form">
    <form class="login-form" action="/login" method="POST">
        <ul>
            <li>
                <label>Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username">
            </li>
            <li>
                <label>Password</label>
                <input type="text" name="password" class="form-control" placeholder="Password">
            </li>
            <li>
                <input type="submit" value="Submit">
            </li>
            <li>
                No account? <a href="/signup">Register</a>
            </li>
        </ul>
    </form>
</div>
