Welcome! Please log in

<div class="login">
    <form class="login-form" action="/login" method="POST">
        <input type="text" name="username" class="form-control" placeholder="Username">
        <input type="text" name="password" class="form-control" placeholder="Password">
        <input type="submit" value="Submit">
    </form>
</div>

No account? <a href="/signup">Register</a>