<div class="signup">
    <form class="signup-form" action="/signup" method="POST">
        <input type="text" name="username" class="form-control" placeholder="Username">
        <input type="text" name="email" class="form-control" placeholder="Email">
        <input type="text" name="password" class="form-control" placeholder="Password">
        <input type="submit" value="Submit">
    </form>
</div>